@using Lang
@using Org.Cafh.Courseware.Models
@model IEnumerable<Org.Cafh.Courseware.Models.RoleViewModel>

@{
    ViewBag.Title = "Roles Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="headline-box2">
    <div class="headline-box-content">
        <h1>@Global.ManageRoles</h1>
    </div>

</div>


<div class="platform-content">
    <div class="row">

        <div class="col-lg-12 content-form">
            @Global.RolesDescription
            <hr/>
            @Html.ActionLink(@Global.Create, "Create", null, new {@class="btn btn-cafh-a"})
            <hr/>
        </div>

        <div id="no-more-tables" class="col-md-12 content-form">
            <table class="table">
                <thead class="cf">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="@Global.Role">
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td data-title="@Global.Description">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink(Global.Edit, "Edit", new { id = item.RoleName }, new { @class = " btn btn-cafh-a" })
                                @Html.ActionLink(Global.Delete, "Delete", new { id = item.RoleName }, new { @class = " btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>



            </table>
        </div>
    </div>
</div>



